// Fonts here


@font-face {
    font-family: $mainFont;
    src: url("/assets/fonts/Roboto/Roboto-Thin.ttf");
    font-weight: 300;
}

@font-face {
    font-family: $mainFont;
    src: url("/assets/fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: $mainFont;
    src: url("/assets/fonts/Roboto/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: $mainFont;
    src: url("/assets/fonts/Roboto/Roboto-Black.ttf");
    font-weight: 900;
}
